<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>635494646992-iac9qhj2j789komi8dohqd7ooaq4lps6.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.635494646992-iac9qhj2j789komi8dohqd7ooaq4lps6</string>
    <key>API_KEY</key>
    <string>AIzaSyAnRAV5YU01Ks1twwfyfNuOyR52MR6hcdc</string>
    <key>GCM_SENDER_ID</key>
    <string>635494646992</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.abstractmediaco.rugbyvault</string>
    <key>PROJECT_ID</key>
    <string>rugbyvault-599b1</string>
    <key>STORAGE_BUCKET</key>
    <string>rugbyvault-599b1.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:635494646992:ios:018e14310c59180d</string>
    <key>DATABASE_URL</key>
    <string>https://rugbyvault-599b1.firebaseio.com</string>
    <key>CodePushDeploymentKey</key>
    <string>deployment-key-here</string>
  </dict>
</plist>